@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 40px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 10px;
  margin-right: 10px;
}

li a {
  color: hsl(180, 66%, 49%);
}

.navbar ul li a:hover {
  color: #000;
}

.navigation {
  margin-left: auto;
  margin-right: 50px;
}

.navigation #log {
  font-family: inherit;
  background-color: white;
  cursor: pointer;
}

.navigation #sign {
  font-family: inherit;
  color: #fff;
  background-color: hsl(0, 0%, 75%);
  padding-left: 15px;
  cursor: pointer;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 40px;
}

.head .info-web {
  width: 100%;
}

.head .info-web h1 {
  font-size: 50px;
}

.head .info-web p {
  color: hsl(257, 7%, 63%);
}

.head .head-img {
  margin-left: auto;
}

.head .info-web button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bolder;
  font-family: inherit;
  background-color: hsl(0, 0%, 75%);
  cursor: pointer;
}

.check-url {
  background-image: url("bg-shorten-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(255, 11%, 22%);
  padding: 30px;
  border-radius: 10px;
  width: 800px;
  position: relative;
  left: 25%;
  top: 60px;
}

#form {
  display: flex;
  width: 100%;
}

#form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  outline: none;
  font-family: inherit;
}

#form input[type="button"] {
  background-color: hsl(257, 7%, 63%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bolder;
  border-radius: 10px;
}

.advanced-container {
  width: 100%;
  padding: 0;
  background-color: hsl(180, 66%, 49%);
  padding-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.url-container {
  margin-top: 100px;
  position: absolute;
  left: 25%;
  height: auto;
  width: 53%;
}

.url-container .url {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

.error-msg p {
  color: red;
  margin-top: 10px;
}

.url-container .url button {
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: hsl(0, 0%, 75%);
  border-radius: 10px;
  padding-left: 25px;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
}

.url-container .url :nth-child(2) {
    margin-left: auto;
}

.url-container .url :nth-child(3) {
  margin-left: auto;
  color: hsl(255, 11%, 22%);
}

.url-container .url button:hover {
  opacity: 0.5;
}

.url {
  display: flex;
  width: auto;
  height: auto;
}

.feature-img {
  background-color: hsl(260, 8%, 14%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: -30%;
}

.feature-img svg {
  position: relative;
  left: 25%;
  top: 25%;
}

.feature {
  margin-top: 50px;
  text-align: left;
  background-color: #fff;
  margin-left: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.advanced-features {
  display: flex;
}

.boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-image: url("bg-boost-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  color: #fff;
}

.boost button {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: hsl(257, 7%, 63%);
  font-family: inherit;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 50px;
  background-color: hsl(260, 8%, 14%);
  color: #fff;
  display: flex;
  justify-content: center;
}

.option {
  display: none;
}

footer .social-links {
  margin-left: auto;
}

footer ul {
  margin-left: 180px;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
    .head .info-web {
        width: auto;
        padding: 0;
    }

    .head .head-img svg {
        width: 100%;
    }

  .navbar .urls,
  .navbar .navigation {
    display: none;
  }

  .navbar {
    padding: 10px;
    padding: 0;
  }

  .head {
    display: block;
    text-align: center;
    padding: 0px;
  }

  .option {
    display: block;
    margin-left: auto;
    font-size: 35px;
    cursor: pointer;
  }

  .check-url {
    width: 80%;
    position: relative;
    left: 13%;
  }

  .url-container {
    padding: 0;
    height: auto;
    left: 14%;
    width: auto;
  }

  .url {
    height: auto;
        width: auto;
  }

  .url-container .url:nth-child(2) {
    border-bottom: 5px solid violet;
    width: auto;
    margin-top: 10px;
  }

  #form {
    flex-direction: column;
  }

  #form input[type="text"] {
    margin-bottom: 20px;
  }

  .url {
    flex-direction: column;
  }

  .url-container .url :nth-child(1) {
    border-bottom: 1px solid black;
  }

  .url-container .url :nth-child(2) {
      margin-left: 1px;
  }

  .url-container .url :nth-child(3) {
      margin-left: 1px;
      color: hsl(255, 11%, 22%);
  }

  .advanced-container {
    padding-left: 10px;
    text-align: center;
  }

  .advanced-features {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .feature-img {
    display: flex;
    position: relative;
    left: 38%;
    top: 10%;
  }

  .feature {
    text-align: center;
  }

  footer {
    text-align: center;
    flex-direction: column;
  }

  footer ul {
    margin-right: 20px;
    margin-left: 0px;
    list-style: none;
  }

  footer .social-links {
    margin-left: 0;
  }
}
